<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ article.title }}</h3>
  </div>
  <img width="100%" src='{{ article.image }}'/>
  <p>{{ article.summary }}</p>
</div>